<%- include('_layouts/header'); -%>

<% if (typeof cart !== "undefined") { %>
    <h3 class="page-title">My Cart</h3>
    <br>
    <table class="table table-striped alignmiddle">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            <th>Subtotal</th>
        </tr>
        <% let total = 0 %>
        <% cart.forEach(function(product) { %>
            <% let sub = parseFloat(product.qty * product.price).toFixed(2) %>
            <% total += +sub %>
            <tr>
                <td><img class="cpi" src="<%= product.image %>"></td>
                <td><%= product.title %></td>
                <td><%= product.price %></td>
                <td><%= product.qty %></td>
                <td>
                    <a class="btn btn-outline-info" href="/cart/update/<%= product.title %>?action=add">+</a>
                    <a class="btn btn-outline-danger" href="/cart/update/<%= product.title %>?action=remove">-</a>
                    <a class="btn btn-outline-dark" href="/cart/update/<%= product.title %>?action=clear">clear</a>
                </td>
                <td>$ <%= sub %></td>
            </tr>
        <% }); %>
        <tr>
            <td colspan="6" align="right"><h5><b>Total: </b>$ <%= parseFloat(total).toFixed(2) %></h5></td>
        </tr>
        <tr>
            <td colspan="5" align="left"><a class="clearcart btn btn-outline-danger" href="/cart/clear">Clear cart</a></td>
            <td colspan="5" align="right"><a class="btn btn-success buynow" href="#">By now</a></td>
        </tr>
    </table>
    <!-- Paypal donate -->
    <form class="pp" action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="J7WLSAHBSPZNY" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_UA/i/scr/pixel.gif" width="1" height="1" />
    </form>
    <!-- Paypal donate -->
<% } else { %>
    <h3 class="text-center">Your cart is empty</h3>
<% } %>


<script>
$(function() {
    $('a.clearcart').on('click', function(e) {
        if (!confirm('Confirm clear cart ?'))
            return false;
    });

    $('form.pp input[type=image]').on('click', function(e) {
        $('.ajaxbg').show()
        setTimeout("$('.ajaxbg').hide()", 4000);
        //setTimeout("location.reload()", 3000);
    });
})
</script>

<%- include('_layouts/footer'); -%>