<%- include('../_layouts/adminheader'); -%>

<h2 class="page-title">Edit product</h2>
<a href="/admin/products" class="btn btn-link">Back to all products</a>
<br><br>

<form method="POST" action="/admin/products/edit-product/<%= id %>" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="product title">
    </div>

    <div class="form-group">
        <label for="desc">Description:</label>
        <textarea name="desc" class="form-control" cols="30" rows="10" placeholder="product description"><%= desc %></textarea>
    </div>

    <div class="form-group">
        <label for="category">Category:</label>
        <select name="category" class="form-control">
            <% categories.forEach(function(cat) { %>
                <option value="<%= cat.slug %>"
                    <% if (cat.slug == category) { %>
                        selected="selected"
                    <% } %>>
                    <%= cat.title %>
                </option>
            <% }); %>
        </select>
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="product price">
    </div>

    <div class="form-group">
        <label for="currentImage">Current image:</label>
        <p>
            <% if (image == "") { %>
                <img id="noimage" src="/images/noimage.png">
            <% } else { %>
                <img src="/product_images/<%= id %>/<%= image %>" id="currentImage">
            <% } %>
        </p>
    </div>

    <div class="form-group">
        <label for="image">Upload Image:</label>
        <input type="file" class="form-control" name="image" id="img">
        <img src="#" id="imgPreview">
    </div>
    
    <button class="btn btn-outline-primary" type="submit" style="margin-top: 0.5rem">Submit a form</button>
</form>
<hr>
<h3 class="page-header">Gallery</h3>

<ul class="gallery">
    <% galleryImages.forEach(function(image) { %> 
        <% if (image != "thumbs") { %>
            <li>
                <img src="/product_images/<%= id %>/gallery/thumbs/<%= image %>">&nbsp;
                <a class="confirmDeletion" href="/admin/products/delete-image/<%= image %>?id=<%= id %>">delete</a>
            </li>
        <% } %>
    <% }) %>
</ul>
<br><br>
<form action="/admin/products/product-gallery/<%= id %>" method="POST" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
    <div class="fallback">
        <input type="file" name="file" multiple>
    </div>
</form>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/basic.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.js"></script>
<script>
    // Preview image
    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(50);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#img").change(function() {
        readURL(this);
    })
</script>

<%- include('../_layouts/adminfooter'); -%>