<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">CMS Shopping Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% pages.forEach(function(page) { %>
                    <% if (page.slug == "home") { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/"><%= page.title %></a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= page.slug %>"><%= page.title %></a>
                        </li>
                    <% } %>
                <% }); %>             
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/cart/checkout">My Cart(
                        <% if (typeof cart !== "undefined") { %>
                            <%= cart.length %>
                        <% } else {%>
                            0
                        <% } %>
                    )</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <%- messages('messages', locals) %>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-2">
            <h3>Categories</h3>
            <br>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/products">All products</a>
                </li>
                <% categories.forEach(function(c) { %>
                    <li class="list-group-item">
                        <a href="/products/<%= c.slug %>"><%= c.title %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="col-xs-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-md-8 col-lg-9">
            